.g{
    color: aqua;
    background-color: black;
    text-align: center;
}


#p{
    color: aqua;
    background-color: black;
    padding-top: 20px;
    text-align: center;

}

.L{
    color: aqua;
    background-color: black;
    background-size: contain;


}

.F{
    color: aqua;
    background-color: black;
    text-align: center;


}

.q{
   color: aqua;


}

.sd{
   color: aqua;
   background-color: black;

}

.AK2{
     color: aqua;
     background-color: black;

}

.rd{
    color: aqua;
    background-color: black;

}

.be{
    color: aqua;
    background-color: black;

}

.rm{
     color: aqua;
     background-color: black;

}

.co{
    color: aqua;
    background-color: black;

}

.co2{
     color: aqua;
     background-color: black;

}

.gl{
   color: aqua;
   background-color: black;

}

.gl2{
     color: aqua;
     background-color: black;

}

.m1{
    color: aqua;
    background-color: black;

}

.m12{
     color: aqua;
     background-color: black;

}

.m4{
    color: aqua;
    background-color: black;
}

.m42{
      color: aqua;
      background-color: black;

}

.sa{
     color: aqua;
     background-color: black;

}

.sa2{
      color: aqua;
      background-color: black;
}

.si{
     color: aqua;
     background-color: black;

}

.si2{
      color: aqua;
      background-color: black;

}
.ta{
   color: aqua;
   background-color: black;

}

.ta2{
      color: aqua;
      background-color: black;

}


.uz{
     color: aqua;
     background-color: black;

}

.uz2{
      color: aqua;
      background-color: black;

}

.ood{
      background-color: black;

}

.od{
     color: aqua;
     background-color: black;

}

.od2{
      color: aqua;
      background-color: black;
    

}

.dd{
    color: aqua;
    text-align: center;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }